<>
  <effect
    meta={{}}
    run={async () => {
      meta.action = {
        toView: () => {
          document.querySelector(".productive").scrollIntoView({
            behavior: "smooth",
          });
        },
      };
    }}
  />
  <>
    <div
      class={`flex self-stretch flex-col space-y-8 items-start justify-start pt-6 bg-white`}
    >
      <div class="flex self-stretch items-center justify-start px-20">
        <div class="flex flex-1 flex-col items-start justify-center px-6 py-4">
          <div class="text-4xl font-bold leading-10">EveryDo!</div>
        </div>
        <div class="flex flex-1 flex-col items-end justify-start px-6 py-4">
          <div
            class={`flex items-start justify-start px-6 py-4 bg-sky-600 rounded-2xl cursor-pointer`}
          >
            <div class="text-2xl font-bold leading-10 text-white">
              Download App
            </div>
          </div>
        </div>
      </div>
      <div
        class={`flex self-stretch space-x-2.5 items-start justify-start pl-20`}
      >
        <div class="flex flex-1 self-stretch flex-col space-y-4 items-start justify-center pl-6 pt-20 pb-32">
          <div class={`text-6xl font-bold leading-10 text-sky-600 pb-10`}>
            EveryDo!
          </div>
          <div class="text-lg leading-7">
            EveryDo is a task management app to help you stay organized and
            manage your day-to-day things to do. EveryDo is free service for
            organization, non-profits and anyone with personal account
          </div>
          <div class={`flex flex-col items-start justify-start pt-6 bg-white`}>
            <div
              class={`flex items-start justify-start px-6 py-4 bg-sky-600 border rounded-2xl border-white cursor-pointer`}
              onClick={meta.action.toView}
            >
              <div class="text-2xl font-bold leading-10 text-white">
                Let’s Do
              </div>
            </div>
          </div>
        </div>
        <img
          src="/fimgs/101_307.x2.png"
          class="flex flex-col items-start justify-start"
          style="width: 749px; min-width: 749px; max-width: 749px; height: 602px; min-height: 602px; max-height: 602px;"
        />
      </div>
      <img
        class={`flex items-center justify-center px-20`}
        style={`[style]`}
        src="/fimgs/101_309.x1.png"
      />
      <div
        class={`flex self-stretch items-center justify-center px-20 productive`}
      >
        <div class="flex flex-1 items-center justify-center px-20">
          <div class="flex flex-1 flex-col items-center justify-center px-16 py-6">
            <div class="text-5xl font-bold leading-10 text-center">
              Productive and Collaborative{" "}
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch items-start justify-start px-20">
        <div class="flex flex-1 space-x-4 items-start justify-start px-20">
          <div class="flex flex-1 flex-col space-y-4 items-start justify-start px-16 pt-10 pb-32">
            <img
              src="/fimgs/101_338.x1.svg"
              class="flex flex-col items-start justify-start"
              style="width: 86px; min-width: 86px; max-width: 86px; height: 86px; min-height: 86px; max-height: 86px;"
            />
            <div class="text-2xl font-bold leading-10">
              Work everywhere, anywhere
            </div>
            <div class="text-lg leading-7">
              just need connection and you can access EveryDo on any advice
            </div>
          </div>
          <div class="flex flex-1 flex-col space-y-4 items-start justify-start px-16 pt-10 pb-32">
            <img
              src="/fimgs/101_358.x1.svg"
              class="flex flex-col items-start justify-start"
              style="width: 86px; min-width: 86px; max-width: 86px; height: 86px; min-height: 86px; max-height: 86px;"
            />
            <div class="text-2xl font-bold leading-10">
              Work Together, Work Better
            </div>
            <div class="text-lg leading-7">
              teacher, leader, student, organizations no worries, just add them
              on your task.
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch items-start justify-start px-20">
        <div class="flex flex-1 items-start justify-start">
          <div class="flex flex-1 self-stretch flex-col space-y-12 items-start justify-center py-16 pl-16 pr-10">
            <div class="text-5xl font-bold leading-10">Our Features</div>
            <div class="flex self-stretch space-x-32 items-start justify-start">
              <div class="flex flex-1 flex-col space-y-12 items-start justify-start">
                <div class="flex flex-col space-y-4 items-start justify-start">
                  <div class="text-4xl font-bold leading-10">Create Task</div>
                  <div class="text-lg leading-7">
                    you can create your task in 2 level: task and subtask.
                  </div>
                </div>
                <div class="flex flex-col space-y-4 items-start justify-start">
                  <div class="text-4xl font-bold leading-10">Share Task</div>
                  <div class="text-lg leading-7">
                    create your task ID and share it.
                  </div>
                </div>
              </div>
              <div class="flex flex-1 flex-col space-y-12 items-start justify-start">
                <div class="flex flex-col space-y-4 items-start justify-start">
                  <div class="text-4xl font-bold leading-10">Organize</div>
                  <div class="text-lg leading-7">
                    distribute your tak to 3 level task: today, todo, history
                  </div>
                </div>
                <div class="flex flex-col items-start justify-start">
                  <div class="flex flex-col space-y-4 items-start justify-start">
                    <div class="text-4xl font-bold leading-10">Save Task</div>
                    <div class="text-lg leading-7">
                      save your task to our server and get it when you need it
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img
            src="/fimgs/101_394.x3.png"
            class="flex flex-1 flex-col items-start justify-start py-16 pl-16"
            style="width: 652px; min-width: 652px; max-width: 652px; height: 621px; min-height: 621px; max-height: 621px;"
          />
        </div>
      </div>
      <div
        class={`flex self-stretch items-center justify-center px-20 overflow-hidden`}
        style={`height: 482px; min-height: 482px; max-height: 482px;background-image: url('/fimgs/bg-d6a9fb583bdb2507c84f4ccee8d886a535cca150');background-size:100% 100%;background-repeat:no-repeat;`}
      >
        <div class="flex flex-1 self-stretch flex-col space-y-4 items-center justify-center pl-6 pt-20 pb-32">
          <div class="text-6xl font-bold leading-10 text-center text-white">
            Download and start doing
          </div>
          <div class="text-lg leading-7 text-center text-white">
            available on playstore and appstore
          </div>
          <img
            src="/fimgs/101_400.x3.png"
            class="flex space-x-2 items-start justify-start"
            style="width: 654px; min-width: 654px; max-width: 654px; height: 111px; min-height: 111px; max-height: 111px;"
          />
        </div>
      </div>
      <div class="flex self-stretch items-start justify-start px-20">
        <div class="flex flex-1 flex-col space-y-4 items-start justify-start px-16 pt-28 pb-16">
          <div class="text-2xl font-bold leading-10">Everydo!</div>
          <div class="text-lg leading-7">
            EveryDo is a task management app to help you stay organized and
            manage your day-to-day things to do.
          </div>
        </div>
        <div class="flex flex-1 flex-col space-y-4 items-start justify-start px-16 pt-28 pb-16">
          <div class="text-2xl font-bold leading-10">Quick Links</div>
          <div class="text-lg leading-7">
            Home
            <br />
            About Us
            <br />
            Our Features
            <br />
            Contact
          </div>
        </div>
        <div class="flex flex-1 flex-col space-y-4 items-start justify-start px-16 pt-28 pb-16">
          <div class="text-2xl font-bold leading-10">Another Links</div>
          <div class="text-lg leading-7">
            Security
            <br />
            Pricing
            <br />
            Enterprise
            <br />
            Privacy
          </div>
        </div>
        <div class="flex flex-1 flex-col space-y-4 items-start justify-start px-16 pt-28 pb-16">
          <div class="text-2xl font-bold leading-10">Connect</div>
          <div class="flex space-x-4 items-center justify-center">
            <img
              src="/fimgs/101_420.x1.svg"
              style="width: 24px; min-width: 24px; max-width: 24px; height: 23.85px; min-height: 23.85px; max-height: 23.85px;"
            />
            <img
              src="/fimgs/101_422.x1.svg"
              style="width: 24px; min-width: 24px; max-width: 24px; height: 19.51px; min-height: 19.51px; max-height: 19.51px;"
            />
            <img
              src="/fimgs/101_424.x1.svg"
              style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
            />
          </div>
        </div>
      </div>
    </div>
  </>
</>